<div class="card suggested-plants">
    <div class="card-header">
        <h1 class="card-title plant-title">{{common_name}}</h1>
    </div>
    <div class="card-body">
        <a href="/plants/{{id}}">
          <img class="card-img" src="{{image_url}}" alt="{{scientific_name}}">
        </a>
    </div>
</div>
